@import "css/vendor.overide.css";

.pdh-14 {
    padding: 0px 14px;
}

.bg-white {
    background: white;
}

.table-header {
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    padding: 10px 16px;
}

.table-title__header .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px !important;
}

.table-title__header .total-showing {
    font-size: .625rem;
    color: #737373;
}

.add-columns-button {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #b2b2b2;
    color: #999;
    cursor: pointer;
    height: 32px;
    margin: 5px 0;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-filter {
    background: none;
    font-weight: 700;
    font-size: .875rem;
    color: #29b6f6;
}

.table-container {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
}